@font-face {
    font-family: "young-serif";
    src: url(fonts/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: "outfit-thin";
    src: url(fonts/Outfit-Thin.ttf);
}

body {
    background-color: hsl(0, 16%, 74%)
    font-family: "young-serif";
    src: url(fonts/Outfit-Thin.ttf);
    margin: 30px;
}

h1 {
    color: hsl(0, 0%, 0%);
    font-family: "young-serif";
}

p {
    color: hsl(14, 45%, 36%);
    font-family: "outfit-thin";
}

ul {
    font-family: "outfit-thin";
    color: hsl(14, 45%, 36%);
}

ol {
    font-family: "outfit-thin";
    color: hsl(14, 45%, 36%);
}

table {
    font-family: "outfit-thin";
    color: hsl(14, 45%, 36%);
}

.img {
    width: 80%;
    border-radius: 30px;
    margin: 50px;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-container > div{
    display: flex;
    background-color: hsl(0, 79%, 44%);
    justify-content: center;
}